.success {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container {
    margin: 120px 0;
}

.ls {
    margin: 30px;
}

.btn {
    width: 184px;
    height: 48px;

    .icon {
        font-size:  20px;
    }
     
    
}
.btn2 {
    width: 184px;
    height: 48px;
    background-color: #5C6AC4 !important;
    .icon  {
        font-size: 20px;
        margin-right: 3px;
    }
}
