@import '../../styles/global.scss';

.signin {
    position: relative;

    .signin-1 {
        height: 340px;
        background-color: $lighter;
    }
    .signin-2 {
        height: 340px;
        background-color: white;
    }
    .signin-main {
        top: 0;
        right: 0;
        left: 0;
        position: absolute;
        margin: 80px auto;
        padding: 12px 125px;
        box-sizing: border-box;
        
        .card {
            box-shadow: none;
        }
         a {
            margin-top: 14px;
            text-decoration: none;
            cursor: pointer;
        }
        .signin-items {
            padding: 12px 28px;

            .input div input {
                height: 48px;
                box-sizing: border-box;
                font-size: 16px;
                font-family: 'Rubik-Regular';
            }
        }

        .signin-button {
            height: 48px;
            background-color: $primary-color;
        }

        .slide-signin{
            background-image:  url('../../assets/images/001.png');
            height: 514px;
            width: 320px;
        }
        
        .register-with-gg {
            background-color: $dark-lighter;
            
        }
        .register-with-twitter , .register-with-facebook {
            background-color: $enoughlight;
            width: 48px;
            height: 48px;
            min-width: 48px;
        }
       

    }
}



