.Descriptions{
    margin-bottom : 40px;

    .desstack {
        .desstack1 {
            width: 850px;
            margin: 20px 0px;
            p{
                font-size: 14px;
                line-height: 24px;
            }
        }
    
        .desstack2 {
           
            .nameview, .contentview {
                font-size: 14px;
            }
        }
    }
}
