@import url('../../styles/global.scss');
.register {
    margin: 80px auto 0;
}

.register-2 {
    .email {
        min-width: 290px;
        width: 350px;
    }
    .firstname {
        min-width: 230px;
    }
    select.gender.input {
        border: 1px solid darkgray;
        font-size: 16px;
        height: 48px;
        width: 170px;
        padding-left: 14px;
    }
    select.gender.input:focus-visible {
        border: 1px solid darkgray;

    }
    .phonenumber {
        width: 544px;
        height: 48px;
        box-shadow: none;
        border: 1px solid darkgray;
    }
    .prefix-phone {
        margin: 0 8px;
    }
    .input-phonenumber {
        width: 490px;
        height: 48px;
        font-size: 16px;
        font-family: 'Rubik-Regular';

    }
    .or {
        padding: 12px 16px;
    }
    .create-account, .login {
        padding: 0 42px;
    }
    .btn-group {
        width: 544px;
        margin: 40px 0;
        .create-account {
            width: 500px;
        }
    }
}

.register-main .leading-brand {
    display: flex;
    align-items: center;
    flex-direction: column;
    .brand-img-group {
        margin: 28px 0;
    }
    p {
        margin: 20px auto;
    }
    img {
        width: 160px;
        height: 120px;
    }
}